<%- include('header.ejs') %>

<main id="main-2">
  <div class="confirmation">
    <h1>
      Congrats, <span class="gradient-text"><%= fullName %>!</span> Your ticket
      is ready.
    </h1>
    <p>
      We've emailed your ticket to
      <span style="color: hsl(7, 88%, 67%)"><%= email %></span> and will send
      updates in the run up to the event.
    </p>
  </div>

  <div id="ticket">
    <img
      src="assets/images/pattern-ticket.svg"
      alt="Ticket Image"
      class="bg"
      id="ticket-bg"
    />
    <div id="content">
      <img
        src="assets/images/logo-full.svg"
        id="full-logo"
        alt="Coding Conf logo"
      />
      <p><%= date %> / Austin, TX</p>
      <div id="info">
        <img src="<%= src %>" id="avatar" alt="Your Avatar" />
        <div id="info-txt">
          <h2><%= fullName %></h2>
          <div style="display: flex; align-items: center">
            <img src="/assets/images/icon-github.svg" alt="github username" />
            <%= githubUsername %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('footer.ejs') %>
